---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repositories/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2025-05-11 16:28:18 -0400'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1744406306'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest","status":"404"}'
  recorded_at: Fri, 11 Apr 2025 20:51:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/aviflombaum/test-repo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1510cd3882820575a39d511fb19d5c1e4174d9571fa353a3d24d3f065b39a3a6"
      Last-Modified:
      - Fri, 11 Apr 2025 20:25:09 GMT
      Github-Authentication-Token-Expiration:
      - '2025-05-11 16:28:18 -0400'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - metadata=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1744406306'
      X-Ratelimit-Used:
      - '14'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":964807572,"node_id":"R_kgDOOYHLlA","name":"test-repo","full_name":"aviflombaum/test-repo","private":true,"owner":{"login":"aviflombaum","id":4515,"node_id":"MDQ6VXNlcjQ1MTU=","avatar_url":"https://avatars.githubusercontent.com/u/4515?v=4","gravatar_id":"","url":"https://api.github.com/users/aviflombaum","html_url":"https://github.com/aviflombaum","followers_url":"https://api.github.com/users/aviflombaum/followers","following_url":"https://api.github.com/users/aviflombaum/following{/other_user}","gists_url":"https://api.github.com/users/aviflombaum/gists{/gist_id}","starred_url":"https://api.github.com/users/aviflombaum/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aviflombaum/subscriptions","organizations_url":"https://api.github.com/users/aviflombaum/orgs","repos_url":"https://api.github.com/users/aviflombaum/repos","events_url":"https://api.github.com/users/aviflombaum/events{/privacy}","received_events_url":"https://api.github.com/users/aviflombaum/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/aviflombaum/test-repo","description":"Used
        for testing purposes.","fork":false,"url":"https://api.github.com/repos/aviflombaum/test-repo","forks_url":"https://api.github.com/repos/aviflombaum/test-repo/forks","keys_url":"https://api.github.com/repos/aviflombaum/test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/aviflombaum/test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/aviflombaum/test-repo/teams","hooks_url":"https://api.github.com/repos/aviflombaum/test-repo/hooks","issue_events_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/aviflombaum/test-repo/events","assignees_url":"https://api.github.com/repos/aviflombaum/test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/aviflombaum/test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/aviflombaum/test-repo/tags","blobs_url":"https://api.github.com/repos/aviflombaum/test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/aviflombaum/test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/aviflombaum/test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/aviflombaum/test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/aviflombaum/test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/aviflombaum/test-repo/languages","stargazers_url":"https://api.github.com/repos/aviflombaum/test-repo/stargazers","contributors_url":"https://api.github.com/repos/aviflombaum/test-repo/contributors","subscribers_url":"https://api.github.com/repos/aviflombaum/test-repo/subscribers","subscription_url":"https://api.github.com/repos/aviflombaum/test-repo/subscription","commits_url":"https://api.github.com/repos/aviflombaum/test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/aviflombaum/test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/aviflombaum/test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/aviflombaum/test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/aviflombaum/test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/aviflombaum/test-repo/merges","archive_url":"https://api.github.com/repos/aviflombaum/test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/aviflombaum/test-repo/downloads","issues_url":"https://api.github.com/repos/aviflombaum/test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/aviflombaum/test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/aviflombaum/test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/aviflombaum/test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/aviflombaum/test-repo/labels{/name}","releases_url":"https://api.github.com/repos/aviflombaum/test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/aviflombaum/test-repo/deployments","created_at":"2025-04-11T20:25:09Z","updated_at":"2025-04-11T20:25:09Z","pushed_at":"2025-04-11T20:25:09Z","git_url":"git://github.com/aviflombaum/test-repo.git","ssh_url":"git@github.com:aviflombaum/test-repo.git","clone_url":"https://github.com/aviflombaum/test-repo.git","svn_url":"https://github.com/aviflombaum/test-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","network_count":0,"subscribers_count":1}'
  recorded_at: Fri, 11 Apr 2025 20:51:45 GMT
recorded_with: VCR 6.3.1
