---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/aviflombaum/test-repo/issues
    body:
      encoding: UTF-8
      string: '{"title":"Test Issue via ActiveProject for_factory_test <BIG_INT>","body":"Test
        issue created by ActiveProject tests at <BIG_INT>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a51890f3452838fe4ca8f6f3b0752125540506ae3cb321da4d8862c2214b71f4"'
      Github-Authentication-Token-Expiration:
      - '2025-05-11 16:28:18 -0400'
      Location:
      - https://api.github.com/repos/aviflombaum/test-repo/issues/5
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - issues=write
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1744406306'
      X-Ratelimit-Used:
      - '34'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/aviflombaum/test-repo/issues/5","repository_url":"https://api.github.com/repos/aviflombaum/test-repo","labels_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/5/labels{/name}","comments_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/5/comments","events_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/5/events","html_url":"https://github.com/aviflombaum/test-repo/issues/5","id":<BIG_INT>,"node_id":"I_kwDOOYHLlM6yM0hz","number":5,"title":"Test
        Issue via ActiveProject for_factory_test <BIG_INT>","user":{"login":"aviflombaum","id":4515,"node_id":"MDQ6VXNlcjQ1MTU=","avatar_url":"https://avatars.githubusercontent.com/u/4515?v=4","gravatar_id":"","url":"https://api.github.com/users/aviflombaum","html_url":"https://github.com/aviflombaum","followers_url":"https://api.github.com/users/aviflombaum/followers","following_url":"https://api.github.com/users/aviflombaum/following{/other_user}","gists_url":"https://api.github.com/users/aviflombaum/gists{/gist_id}","starred_url":"https://api.github.com/users/aviflombaum/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aviflombaum/subscriptions","organizations_url":"https://api.github.com/users/aviflombaum/orgs","repos_url":"https://api.github.com/users/aviflombaum/repos","events_url":"https://api.github.com/users/aviflombaum/events{/privacy}","received_events_url":"https://api.github.com/users/aviflombaum/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-04-11T20:52:01Z","updated_at":"2025-04-11T20:52:01Z","closed_at":null,"author_association":"OWNER","sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"body":"Test
        issue created by ActiveProject tests at <BIG_INT>","closed_by":null,"reactions":{"url":"https://api.github.com/repos/aviflombaum/test-repo/issues/5/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/5/timeline","performed_via_github_app":null,"state_reason":null}'
  recorded_at: Fri, 11 Apr 2025 20:52:01 GMT
- request:
    method: post
    uri: https://api.github.com/repos/aviflombaum/test-repo/issues
    body:
      encoding: UTF-8
      string: '{"title":"Test Issue via ActiveProject for_factory_test <BIG_INT>","body":"Test
        issue created by ActiveProject tests at <BIG_INT>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1748203381'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest","status":"401"}'
  recorded_at: Sun, 25 May 2025 19:03:02 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/aviflombaum/test-repo/issues
    body:
      encoding: UTF-8
      string: '{"title":"Test Issue via ActiveProject for_factory_test <BIG_INT>","body":"Test
        issue created by ActiveProject tests at <BIG_INT>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1748203686'
      X-Ratelimit-Used:
      - '64'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest","status":"401"}'
  recorded_at: Sun, 25 May 2025 19:27:47 GMT
recorded_with: VCR 6.3.1
