---
http_interactions:
  - request:
      method: post
      uri: https://api.trello.com/1/boards/DUMMY_BOARD_ID/lists?key=DUMMY_TRELLO_KEY&name=Test%20List%201700000000&token=DUMMY_TRELLO_TOKEN
      body:
        encoding: UTF-8
        string: ""
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{
        "id": "5f91b99b1a67e8897c4a1f00",
        "name": "Test List 1700000000",
        "closed": false,
        "idBoard": "DUMMY_BOARD_ID",
        "pos": 16384,
        "limits": {},
        "creationMethod": null,
        "softLimit": null
      }'
    recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
