---
http_interactions:
  - request:
      method: delete
      uri: https://api.trello.com/1/cards/10000?key=DUMMY_TRELLO_KEY&token=DUMMY_TRELLO_TOKEN
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Trello-Version:
          - 1.15531.0
        ETag:
          - W/"10-J3aTqyzKyumyKOzQT/RxrRrQS3Y"
      body:
        encoding: UTF-8
        string: '{"_value":null}'
    recorded_at: Thu, 10 Apr 2025 15:47:21 GMT
  - request:
      method: get
      uri:  https://api.trello.com/1/cards/10000?fields=id,name,desc,closed,idList,idBoard,due,dueComplete,idMembers&key=DUMMY_TRELLO_KEY&list=true&token=DUMMY_TRELLO_TOKEN
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Trello-Version:
          - 1.15531.0
      body:
        encoding: UTF-8
        string: '{"message":"The requested resource was not found.","error":"The requested
        resource was not found.","status":404}'
    recorded_at: Thu, 10 Apr 2025 15:47:22 GMT
recorded_with: VCR 6.2.0