---
http_interactions:
  - request:
      method: put
      uri: https://api.trello.com/1/cards/YOUR_CARD_ID_FOR_UPDATE_ISSUE?desc=Updated%20description%20at%201700000000.&due=2025-04-14&key=DUMMY_TRELLO_KEY&name=Updated%20Title%201700000000&token=DUMMY_TRELLO_TOKEN
      body:
        encoding: UTF-8
        string: ""
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: |
          {
            "id": "YOUR_CARD_ID_FOR_UPDATE_ISSUE",
            "name": "Updated Title 1700000000",
            "desc": "Updated description at 1700000000.",
            "due": "2025-04-14T00:00:00.000Z",
            "closed": false,
            "idList": "5f91b99b1a67e8897c4a1f02",
            "idBoard": "DUMMY_BOARD_ID",
            "idMembers": ["5f91b99b1a67e8897c4a1f03"],
            "dueComplete": false,
            "dateLastActivity": "2025-03-20T00:00:00.000Z"
          }
    recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1