---
http_interactions:
- request:
    method: patch
    uri: https://api.github.com/repos/aviflombaum/test-repo/issues/4
    body:
      encoding: UTF-8
      string: '{"state":"closed"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3bcb95aa8a1ceaadb4e6ea234dbfd8d68b784b593e9c14d73a68bf7fc8e60cd"
      Github-Authentication-Token-Expiration:
      - '2025-05-11 16:28:18 -0400'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - issues=write; pull_requests=write
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1744406306'
      X-Ratelimit-Used:
      - '29'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/aviflombaum/test-repo/issues/4","repository_url":"https://api.github.com/repos/aviflombaum/test-repo","labels_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/4/comments","events_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/4/events","html_url":"https://github.com/aviflombaum/test-repo/issues/4","id":2989705264,"node_id":"I_kwDOOYHLlM6yM0gw","number":4,"title":"Test
        Issue via ActiveProject for_delete_test 1744404719","user":{"login":"aviflombaum","id":4515,"node_id":"MDQ6VXNlcjQ1MTU=","avatar_url":"https://avatars.githubusercontent.com/u/4515?v=4","gravatar_id":"","url":"https://api.github.com/users/aviflombaum","html_url":"https://github.com/aviflombaum","followers_url":"https://api.github.com/users/aviflombaum/followers","following_url":"https://api.github.com/users/aviflombaum/following{/other_user}","gists_url":"https://api.github.com/users/aviflombaum/gists{/gist_id}","starred_url":"https://api.github.com/users/aviflombaum/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aviflombaum/subscriptions","organizations_url":"https://api.github.com/users/aviflombaum/orgs","repos_url":"https://api.github.com/users/aviflombaum/repos","events_url":"https://api.github.com/users/aviflombaum/events{/privacy}","received_events_url":"https://api.github.com/users/aviflombaum/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-04-11T20:51:59Z","updated_at":"2025-04-11T20:51:59Z","closed_at":"2025-04-11T20:51:59Z","author_association":"OWNER","sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"body":"Test
        issue created by ActiveProject tests at 1744404719","closed_by":{"login":"aviflombaum","id":4515,"node_id":"MDQ6VXNlcjQ1MTU=","avatar_url":"https://avatars.githubusercontent.com/u/4515?v=4","gravatar_id":"","url":"https://api.github.com/users/aviflombaum","html_url":"https://github.com/aviflombaum","followers_url":"https://api.github.com/users/aviflombaum/followers","following_url":"https://api.github.com/users/aviflombaum/following{/other_user}","gists_url":"https://api.github.com/users/aviflombaum/gists{/gist_id}","starred_url":"https://api.github.com/users/aviflombaum/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aviflombaum/subscriptions","organizations_url":"https://api.github.com/users/aviflombaum/orgs","repos_url":"https://api.github.com/users/aviflombaum/repos","events_url":"https://api.github.com/users/aviflombaum/events{/privacy}","received_events_url":"https://api.github.com/users/aviflombaum/received_events","type":"User","user_view_type":"public","site_admin":false},"reactions":{"url":"https://api.github.com/repos/aviflombaum/test-repo/issues/4/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/4/timeline","performed_via_github_app":null,"state_reason":"completed"}'
  recorded_at: Fri, 11 Apr 2025 20:52:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/aviflombaum/test-repo/issues/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3bcb95aa8a1ceaadb4e6ea234dbfd8d68b784b593e9c14d73a68bf7fc8e60cd"
      Last-Modified:
      - Fri, 11 Apr 2025 20:51:59 GMT
      Github-Authentication-Token-Expiration:
      - '2025-05-11 16:28:18 -0400'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - issues=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1744406306'
      X-Ratelimit-Used:
      - '30'
      X-Ratelimit-Resource:
      - cor[...]
