---
http_interactions:
- request:
    method: patch
    uri: https://api.github.com/repos/aviflombaum/test-repo/issues/7
    body:
      encoding: UTF-8
      string: '{"state":"closed"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"014bffca59571a66e1b92f0f61bc2f6a6492ec4321c5720cc660069651b14526"
      Github-Authentication-Token-Expiration:
      - '2025-05-11 16:28:18 -0400'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - issues=write; pull_requests=write
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1744406306'
      X-Ratelimit-Used:
      - '45'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/aviflombaum/test-repo/issues/7","repository_url":"https://api.github.com/repos/aviflombaum/test-repo","labels_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/7/labels{/name}","comments_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/7/comments","events_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/7/events","html_url":"https://github.com/aviflombaum/test-repo/issues/7","id":2989705703,"node_id":"I_kwDOOYHLlM6yM0nn","number":7,"title":"Test
        Issue 1744404724","user":{"login":"aviflombaum","id":4515,"node_id":"MDQ6VXNlcjQ1MTU=","avatar_url":"https://avatars.githubusercontent.com/u/4515?v=4","gravatar_id":"","url":"https://api.github.com/users/aviflombaum","html_url":"https://github.com/aviflombaum","followers_url":"https://api.github.com/users/aviflombaum/followers","following_url":"https://api.github.com/users/aviflombaum/following{/other_user}","gists_url":"https://api.github.com/users/aviflombaum/gists{/gist_id}","starred_url":"https://api.github.com/users/aviflombaum/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aviflombaum/subscriptions","organizations_url":"https://api.github.com/users/aviflombaum/orgs","repos_url":"https://api.github.com/users/aviflombaum/repos","events_url":"https://api.github.com/users/aviflombaum/events{/privacy}","received_events_url":"https://api.github.com/users/aviflombaum/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-04-11T20:52:04Z","updated_at":"2025-04-11T20:52:05Z","closed_at":"2025-04-11T20:52:05Z","author_association":"OWNER","sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"body":"This
        is a test issue created through the GitHub adapter","closed_by":{"login":"aviflombaum","id":4515,"node_id":"MDQ6VXNlcjQ1MTU=","avatar_url":"https://avatars.githubusercontent.com/u/4515?v=4","gravatar_id":"","url":"https://api.github.com/users/aviflombaum","html_url":"https://github.com/aviflombaum","followers_url":"https://api.github.com/users/aviflombaum/followers","following_url":"https://api.github.com/users/aviflombaum/following{/other_user}","gists_url":"https://api.github.com/users/aviflombaum/gists{/gist_id}","starred_url":"https://api.github.com/users/aviflombaum/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aviflombaum/subscriptions","organizations_url":"https://api.github.com/users/aviflombaum/orgs","repos_url":"https://api.github.com/users/aviflombaum/repos","events_url":"https://api.github.com/users/aviflombaum/events{/privacy}","received_events_url":"https://api.github.com/users/aviflombaum/received_events","type":"User","user_view_type":"public","site_admin":false},"reactions":{"url":"https://api.github.com/repos/aviflombaum/test-repo/issues/7/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/aviflombaum/test-repo/issues/7/timeline","performed_via_github_app":null,"state_reason":"completed"}'
  recorded_at: Fri, 11 Apr 2025 20:52:05 GMT
recorded_with: VCR 6.3.1
