---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($login:String!){\n  organization(login:$login){ id
        }\n  user(login:$login){ id }\n}\n","variables":{"login":"seuros"}}'
    headers:
      Content-Type:
      - application/json
      X-Github-Next-Global-Id:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - project, read:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-05-26 08:33:50 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1746744769'
      X-Ratelimit-Used:
      - '56'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"organization":null,"user":{"id":"U_kgDOACSKTw"}},"errors":[{"type":"NOT_FOUND","path":["organization"],"locations":[{"line":2,"column":3}],"message":"Could
        not resolve to an Organization with the login of ''seuros''."}]}'
  recorded_at: Thu, 08 May 2025 22:19:18 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation($name:String!, $owner:ID!){\n  createProjectV2(input:{title:$name,ownerId:$owner})
        { projectV2 { id number title } }\n}\n","variables":{"name":"AP-Test-<BIG_INT>","owner":null}}'
    headers:
      Content-Type:
      - application/json
      X-Github-Next-Global-Id:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - project, read:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-05-26 08:33:50 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1746744769'
      X-Ratelimit-Used:
      - '56'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"extensions":{"value":null,"problems":[{"path":[],"explanation":"Expected
        value to not be null"}]},"locations":[{"line":1,"column":25}],"message":"Variable
        $owner of type ID! was provided invalid value"}]}'
  recorded_at: Thu, 08 May 2025 22:19:18 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation($name:String!, $owner:ID!){\n  createProjectV2(input:{title:$name,ownerId:$owner})
        { projectV2 { id number title } }\n}\n","variables":{"name":"AP-Test-<BIG_INT>","owner":null}}'
    headers:
      Content-Type:
      - application/json
      X-Github-Next-Global-Id:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - project, read:org, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-05-26 08:33:50 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1748192228'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"extensions":{"value":null,"problems":[{"path":[],"explanation":"Expected
        value to not be null"}]},"locations":[{"line":1,"column":25}],"message":"Variable
        $owner of type ID! was provided invalid value"}]}'
  recorded_at: Sun, 25 May 2025 15:59:06 GMT
recorded_with: VCR 6.3.1
