---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($id:ID!){ node(id:$id){ ... on ProjectV2 { id number
        title }}}","variables":{"id":"PVT_kwHOACSKT84AyJ2j"}}'
    headers:
      Content-Type:
      - application/json
      X-Github-Next-Global-Id:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - project, read:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-05-26 08:33:50 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1746744769'
      X-Ratelimit-Used:
      - '55'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"node":{"id":"PVT_kwHOACSKT84AyJ2j","number":1,"title":"@seuros''s
        untitled project"}}}'
  recorded_at: Thu, 08 May 2025 22:19:18 GMT
recorded_with: VCR 6.3.1
