---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($login: String!, $num: Int!) {\n  user(login: $login)
        {\n    projectV2(number: $num) { id number title }\n  }\n}\n","variables":{"login":"seuros","num":1}}'
    headers:
      Content-Type:
      - application/json
      X-Github-Next-Global-Id:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - project, read:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-05-26 08:33:50 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1746744769'
      X-Ratelimit-Used:
      - '48'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"projectV2":{"id":"PVT_kwHOACSKT84AyJ2j","number":1,"title":"@seuros''s
        untitled project"}}}}'
  recorded_at: Thu, 08 May 2025 22:19:14 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($id:ID!, $first:Int!, $after:String){\n  node(id:$id){\n    ...
        on ProjectV2{\n      items(first:$first, after:$after){\n        nodes{\n          id
        type content{__typename ... on Issue{ id number title body state\n            assignees(first:10){nodes{login
        id}}\n            reporter:author{login} } }\n          createdAt updatedAt\n        }\n        pageInfo{hasNextPage
        endCursor}\n      }\n    }\n  }\n}\n","variables":{"id":"PVT_kwHOACSKT84AyJ2j","first":50,"after":null}}'
    headers:
      Content-Type:
      - application/json
      X-Github-Next-Global-Id:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - project, read:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-05-26 08:33:50 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1746744769'
      X-Ratelimit-Used:
      - '49'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"node":{"items":{"nodes":[{"id":"<PVTI_ID>","type":"DRAFT_ISSUE","content":{"__typename":"DraftIssue"},"createdAt":"2025-04-26T09:15:52Z","updatedAt":"2025-04-26T10:42:13Z"},{"id":"<PVTI_ID>","type":"DRAFT_ISSUE","content":{"__typename":"DraftIssue"},"createdAt":"2025-04-26T18:34:12Z","updatedAt":"2025-04-26T18:34:14Z"},{"id":"<PVTI_ID>","type":"DRAFT_ISSUE","content":{"__typename":"DraftIssue"},"createdAt":"2025-04-26T18:45:17Z","updatedAt":"2025-04-26T18:45:17Z"},{"id":"<PVTI_ID>","type":"DRAFT_ISSUE","content":{"__typename":"DraftIssue"},"createdAt":"2025-04-26T18:48:10Z","updatedAt":"2025-04-26T18:48:11Z"},{"id":"<PVTI_ID>","type":"DRAFT_ISSUE","content":{"__typename":"DraftIssue"},"createdAt":"2025-05-08T20:36:34Z","updatedAt":"2025-05-08T20:36:35Z"},{"id":"<PVTI_ID>","type":"DRAFT_ISSUE","content":{"__typename":"DraftIssue"},"createdAt":"2025-05-08T20:38:22Z","updatedAt":"2025-05-08T20:38:23Z"}],"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpK5MDAwMDAwMDAuMTY2NjY2NjY2NjY2NjY2Ns4Gikaq"}}}}}'
  recorded_at: Thu, 08 May 2025 22:19:15 GMT
recorded_with: VCR 6.3.1
