---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($login:String!, $first:Int!, $after:String){\n  user(login:$login){\n    projectsV2(first:$first,
        after:$after){\n      nodes{ id number title }\n      pageInfo{ hasNextPage
        endCursor }\n    }\n  }\n}\n","variables":{"login":"seuros","first":50,"after":null}}'
    headers:
      Content-Type:
      - application/json
      X-Github-Next-Global-Id:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - project, read:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-05-26 08:33:50 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1746744769'
      X-Ratelimit-Used:
      - '57'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"projectsV2":{"nodes":[{"id":"PVT_kwHOACSKT84A4kTy","number":10,"title":"AP-Test-<BIG_INT>"},{"id":"PVT_kwHOACSKT84A4kTl","number":9,"title":"AP-Test-<BIG_INT>"},{"id":"PVT_kwHOACSKT84A4kTf","number":8,"title":"AP-Test-<BIG_INT>"},{"id":"PVT_kwHOACSKT84A4kTc","number":7,"title":"AP-Test-<BIG_INT>"},{"id":"PVT_kwHOACSKT84A4kSc","number":6,"title":"AP-Test-<BIG_INT>"},{"id":"PVT_kwHOACSKT84A4kEt","number":5,"title":"AP-Test-<BIG_INT>"},{"id":"PVT_kwHOACSKT84A4kEW","number":4,"title":"AP-Test-<BIG_INT>"},{"id":"PVT_kwHOACSKT84A3pqB","number":3,"title":"AP-Test-<BIG_INT>"},{"id":"PVT_kwHOACSKT84A3piV","number":2,"title":"AP-Test-<BIG_INT>"},{"id":"PVT_kwHOACSKT84AyJ2j","number":1,"title":"@seuros''s
        untitled project"}],"pageInfo":{"hasNextPage":false,"endCursor":"MTA"}}}}}'
  recorded_at: Thu, 08 May 2025 22:19:19 GMT
recorded_with: VCR 6.3.1
