---
http_interactions:
- request:
    method: post
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/8514014894/todos.json
    body:
      encoding: UTF-8
      string: '{"content":"Test ToDo from ActiveProject 1743945018","description":"This is a test description.","assignee_ids":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todos/1234567890
    body:
      encoding: UTF-8
      string: '{
        "id": 1234567890,
        "content": "Test ToDo from ActiveProject 1743945018",
        "description": "This is a test description.",
        "assignees": [],
        "completed": false,
        "created_at": "2025-03-20T23:38:50Z",
        "updated_at": "2025-03-20T23:38:50Z",
        "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todos/1234567890"
      }'
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1