---
http_interactions:
- request:
    method: post
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects.json
    body:
      encoding: UTF-8
      string: '{"name":"Test Project via ActiveProject 1700000000","description":"Test project created by the gem."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/123456789
    body:
      encoding: UTF-8
      string: '{
        "id": 123456789,
        "status": "active",
        "created_at": "2025-03-20T23:38:50Z",
        "updated_at": "2025-03-20T23:38:50Z",
        "name": "Test Project via ActiveProject 1700000000",
        "description": "Test project created by the gem.",
        "purpose": "project",
        "bookmark_url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/123456789/bookmark",
        "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/123456789",
        "app_url": "https://3.basecamp.com/<BASECAMP_ACCOUNT_ID>/projects/123456789"
      }'
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
