---
http_interactions:
- request:
    method: post
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/8514014894/todos.json
    body:
      encoding: UTF-8
      string: '{"content":"Test To-do from VCR test at 1700000000","description":"This is a test to-do created via the adapter.","due_on":"2025-03-27"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todos/1234567890
    body:
      encoding: UTF-8
      string: '{
        "id": 1234567890,
        "content": "Test To-do from VCR test at 1700000000",
        "description": "This is a test to-do created via the adapter.",
        "assignees": [],
        "completed": false,
        "created_at": "2025-03-20T00:00:00Z",
        "updated_at": "2025-03-20T00:00:00Z",
        "due_on": "2025-03-15",
        "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todos/1234567890",
        "app_url": "https://3.basecamp.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todos/1234567890",
        "parent": {
          "id": 8514014894,
          "title": "To-do List",
          "type": "Todolist",
          "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/8514014894",
          "app_url": "https://3.basecamp.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/8514014894"
        }
      }'
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
[...]
- request:
    method: delete
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/41808873.json
    body:
      encoding: UTF-8
      string: ""
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ""
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1