---
http_interactions:
- request:
    method: get
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/000000.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASECAMP_AUTH_HEADER>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit:
      - '{"name":"API","period":10,"limit":50,"remaining":49,"until":"2025-04-09T09:19:40Z"}'
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found"}'
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
