---
http_interactions:
- request:
    method: post
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects.json
    body:
      encoding: UTF-8
      string: '{"name":"Test Project 1700000000","description":"Test project created by ActiveProject gem."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "id": 1234567,
          "name": "Test Project 1700000000",
          "description": "Test project created by ActiveProject gem.",
          "created_at": "2025-04-08T12:00:00Z",
          "updated_at": "2025-04-08T12:00:00Z",
          "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/1234567"
        }
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.2.0