---
http_interactions:
- request:
    method: get
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/41808873.json
    body:
      encoding: UTF-8
      string: ""
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{
        "id": 41808873,
        "status": "active",
        "created_at": "2025-03-20T00:00:00Z",
        "updated_at": "2025-03-20T00:00:00Z",
        "name": "Test Project",
        "description": "Project description",
        "purpose": "project",
        "bookmark_url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/41808873/bookmark",
        "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/41808873",
        "app_url": "https://3.basecamp.com/<BASECAMP_ACCOUNT_ID>/projects/41808873"
      }'
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
- request:
    method: put
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/41808873.json
    body:
      encoding: UTF-8
      string: '{"status":"active"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{
        "id": 41808873,
        "status": "active",
        "created_at": "2025-03-20T00:00:00Z",
        "updated_at": "2025-03-20T00:00:00Z",
        "name": "Restored Project",
        "description": "Project description",
        "purpose": "project",
        "bookmark_url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/41808873/bookmark",
        "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects/41808873",
        "app_url": "https://3.basecamp.com/<BASECAMP_ACCOUNT_ID>/projects/41808873"
      }'
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1