---
http_interactions:
  - request:
      method: get
      uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/8514014894/todos.json
      headers:
        Authorization:
          - Bearer <ACCESS_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Link:
          - '<https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/8514014894/todos.json?page=2>; rel="next"'
      body:
        encoding: UTF-8
        string: |
          [
            {
              "id": 1234567890,
              "content": "First Todo",
              "due_on": "2025-04-23",
              "completed": false,
              "created_at": "2025-04-01T08:00:00Z",
              "updated_at": "2025-04-01T08:00:00Z",
              "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todos/1234567890.json"
            },
            {
              "id": 1234567891,
              "content": "Second Todo",
              "due_on": "2025-04-24",
              "completed": true,
              "created_at": "2025-04-01T09:00:00Z",
              "updated_at": "2025-04-02T10:00:00Z",
              "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todos/1234567891.json"
            }
          ]
    recorded_at: Thu, 20 Mar 2025 00:00:00 GMT

  - request:
      method: get
      uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/8514014894/todos.json?page=2
      headers:
        Authorization:
          - Bearer <ACCESS_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Link:
          - '<https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/8514014894/todos.json?page=3>; rel="next"'
      body:
        encoding: UTF-8
        string: |
          [
            {
              "id": 1234567892,
              "content": "Third Todo",
              "due_on": "2025-04-25",
              "completed": false,
              "created_at": "2025-04-01T11:00:00Z",
              "updated_at": "2025-04-01T11:00:00Z",
              "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todos/1234567892.json"
            }
          ]
    recorded_at: Thu, 20 Mar 2025 00:00:00 GMT

  - request:
      method: get
      uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/8514014894/todos.json?page=3
      headers:
        Authorization:
          - Bearer <ACCESS_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '[]'
    recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
