---
http_interactions:
- request:
    method: get
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers: {}
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
- request:
    method: get
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/projects.json?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers: {}
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
- request:
    method: get
    uri: https://3.basecampapi.com/id/projects.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit:
      - '{"name":"API","period":10,"limit":50,"remaining":49,"until":"2025-05-08T22:15:10Z"}'
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found"}'
  recorded_at: Thu, 08 May 2025 22:15:00 GMT
recorded_with: VCR 6.3.1
