---
http_interactions:
- request:
    method: post
    uri: https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/8514014894/todos.json
    body:
      encoding: UTF-8
      string: '{"content":"To-do to be updated <BIG_INT>"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todos/1234567890
    body:
      encoding: UTF-8
      string: '{ "id": <BIG_INT>, "content": "To-do to be updated <BIG_INT>", "description":
        "", "assignees": [], "completed": false, "created_at": "2025-03-20T00:00:00Z",
        "updated_at": "2025-03-20T00:00:00Z", "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todos/<BIG_INT>",
        "parent": { "id": <BIG_INT>, "type": "Todolist", "url": "https://3.basecampapi.com/<BASECAMP_ACCOUNT_ID>/buckets/41789030/todolists/<BIG_INT>"
        } }'
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
- request:
    method: post
    uri: https://3.basecampapi.com/id/buckets/41789030/todolists/8514014894/todos.json
    body:
      encoding: UTF-8
      string: '{"content":"To-do to be updated <BIG_INT>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit:
      - '{"name":"API","period":10,"limit":50,"remaining":49,"until":"2025-05-09T00:18:00Z"}'
      - '{"name":"API_PATH","period":10,"limit":50,"remaining":49,"until":"2025-05-09T00:18:00Z"}'
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found"}'
  recorded_at: Fri, 09 May 2025 00:17:53 GMT
recorded_with: VCR 6.3.1
