---
http_interactions:
- request:
    method: get
    uri: https://clickup-core-team.atlassian.net/rest/api/3/issue/LAC-123?fields=summary,description,status,project,issuetype
    body: { encoding: UTF-8, string: "" }
    headers:
      Authorization: ["Basic <JIRA_BASIC_AUTH>"]
  response:
    status: { code: 200, message: "OK" }
    headers:
      Content-Type: ["application/json;charset=UTF-8"]
    body:
      encoding: UTF-8
      string: |
        {
          "id": "10000",
          "key": "LAC-123",
          "self": "https://clickup-core-team.atlassian.net/rest/api/3/issue/10000",
          "fields": {
            "summary": "Test Issue Static 1700000000",
            "description": {
              "type": "doc",
              "version": 1,
              "content": [{
                "type": "paragraph",
                "content": [{
                  "type": "text",
                  "text": "Test issue created via the adapter."
                }]
              }]
            },
            "status": {
              "name": "To Do",
              "id": "1"
            },
            "project": {
              "key": "LAC",
              "name": "Legacy Application Components",
              "projectTypeKey": "software"
            },
            "issuetype": {
              "name": "Bug",
              "id": "10001"
            }
          }
        }
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
- request:
    method: post
    uri: https://clickup-core-team.atlassian.net/rest/api/3/issue
    body:
      encoding: UTF-8
      string: '{"fields":{"project":{"key":"LAC"},"summary":"Test Issue Static 1700000000","issuetype":{"name":"Bug"},"description":{"type":"doc","version":1,"content":[{"type":"paragraph","content":[{"type":"text","text":"Test issue created via the adapter."}]}]}}}'
    headers:
      Content-Type: ["application/json"]
      Authorization: ["Basic <JIRA_BASIC_AUTH>"]
  response:
    status: { code: 201, message: "Created" }
    headers:
      Content-Type: ["application/json;charset=UTF-8"]
      X-AREQUESTID: ["x123y456z789"]
    body:
      encoding: UTF-8
      string: |
        {
          "id": "10000",
          "key": "LAC-123",
          "self": "https://clickup-core-team.atlassian.net/rest/api/3/issue/10000"
        }
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
- request:
    method: post
    uri: https://clickup-core-team.atlassian.net/rest/api/3/issue
    body:
      encoding: UTF-8
      string: '{"fields":{"project":{"key":"LAC"},"summary":"Test Issue Created Static 1700000000","issuetype":{"name":"Bug"},"description":{"type":"doc","version":1,"content":[{"type":"paragraph","content":[{"type":"text","text":"Issue created for static project test."}]}]}}}'
    headers:
      Authorization:
      - Basic [YOUR_ENCODED_AUTH]
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://clickup-core-team.atlassian.net/rest/api/3/issue/12345
    body:
      encoding: UTF-8
      string: |
        {
          "id": "12345",
          "key": "LAC-123",
          "self": "https://clickup-core-team.atlassian.net/rest/api/3/issue/12345"
        }
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
# Add the new interaction that matches your exact current request
- request:
    method: post
    uri: https://clickup-core-team.atlassian.net/rest/api/3/issue
    body:
      encoding: UTF-8
      string: '{"fields":{"project":{"key":"LAC"},"summary":"Test Issue Static 1700000000","issuetype":{"name":"Bug"},"description":{"type":"doc","version":1,"content":[{"type":"paragraph","content":[{"type":"text","text":"Issue created for static project test."}]}]}}}'
    headers:
      Authorization:
      - Basic <JIRA_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://clickup-core-team.atlassian.net/rest/api/3/issue/12345
    body:
      encoding: UTF-8
      string: |
        {
          "id": "12345",
          "key": "LAC-123",
          "self": "https://clickup-core-team.atlassian.net/rest/api/3/issue/12345"
        }
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1