---
http_interactions:
- request:
    method: post
    uri: https://clickup-core-team.atlassian.net/rest/api/3/project
    body:
      encoding: UTF-8
      string: '{"key":"APDEL6699","name":"Test Project Delete APDEL6699","projectTypeKey":"software","leadAccountId":"5e9360a3088a7e0c0f4c55f3"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <JIRA_API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-AREQUESTID:
      - x123y456z789
    body:
      encoding: UTF-8
      string: '{
        "id": "12345",
        "key": "APDEL6699",
        "name": "Test Project Delete APDEL6699",
        "projectTypeKey": "software",
        "lead": {
          "accountId": "5e9360a3088a7e0c0f4c55f3",
          "displayName": "Project Lead"
        },
        "avatarUrls": {
          "48x48": "https://avatar-management--avatars.server-location.prod.public.atl-paas.net/12345",
          "24x24": "https://avatar-management--avatars.server-location.prod.public.atl-paas.net/12345",
          "16x16": "https://avatar-management--avatars.server-location.prod.public.atl-paas.net/12345",
          "32x32": "https://avatar-management--avatars.server-location.prod.public.atl-paas.net/12345"
        },
        "created": "2025-03-20T00:00:00.000+0000"
      }'
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
- request:
    method: delete
    uri: https://clickup-core-team.atlassian.net/rest/api/3/project/APDEL6699
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <JIRA_API_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
