---
http_interactions:
- request:
    method: get
    uri: https://3.basecampapi.com/999999999/projects/41789030/todos/1234567890.json
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Authorization:
      - Bearer YOUR_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": 1234567890,
          "status": "active",
          "created_at": "2025-03-15T10:00:00Z",
          "updated_at": "2025-03-20T15:30:00Z",
          "title": "Test Todo Item",
          "description": "This is a test todo item",
          "due_on": "2025-03-31",
          "assignees": [
            {
              "id": 12345,
              "name": "John Doe",
              "email_address": "john@example.com"
            }
          ],
          "creator": {
            "id": 54321,
            "name": "Jane Smith",
            "email_address": "jane@example.com"
          },
          "project": {
            "id": 41789030,
            "name": "Test Project"
          }
        }
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
- request:
    method: get
    uri: https://clickup-core-team.atlassian.net/rest/api/3/issue/LAC-10?fields=summary,description,status,assignee,reporter,created,updated,project,issuetype,duedate,priority
    body:
      encoding: UTF-8
      string: ""
    headers:
      Authorization:
      - Basic [YOUR_ENCODED_AUTH]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "10030",
          "key": "LAC-10",
          "fields": {
            "summary": "Implement new authentication module",
            "description": {
              "type": "doc",
              "version": 1,
              "content": [
                {
                  "type": "paragraph",
                  "content": [
                    {
                      "type": "text",
                      "text": "We need to implement the new OAuth2 authentication module for the legacy system."
                    }
                  ]
                }
              ]
            },
            "status": {
              "name": "In Progress",
              "id": "3"
            },
            "assignee": {
              "accountId": "5e9360a3088a7e0c0f4c55f3",
              "displayName": "John Developer"
            },
            "reporter": {
              "accountId": "5e9360a3088a7e0c0f4c55f4",
              "displayName": "Jane Manager"
            },
            "created": "2022-01-15T10:00:00.000+0000",
            "updated": "2022-01-20T14:30:00.000+0000",
            "project": {
              "id": "10004",
              "key": "LAC",
              "name": "Legacy Application Components"
            },
            "issuetype": {
              "id": "10001",
              "name": "Task",
              "subtask": false
            },
            "duedate": "2022-02-15",
            "priority": {
              "name": "High",
              "id": "2"
            }
          }
        }
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
