---
http_interactions:
- request:
    method: get
    uri: https://clickup-core-team.atlassian.net/rest/api/3/project/search?maxResults=50&startAt=0
    body:
      encoding: UTF-8
      string: ""
    headers:
      Authorization:
      - Basic [YOUR_ENCODED_AUTH]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "isLast": true,
          "maxResults": 50,
          "self": "https://clickup-core-team.atlassian.net/rest/api/3/project/search?startAt=0&maxResults=50",
          "startAt": 0,
          "total": 2,
          "values": [
            {
              "avatarUrls": {
                "16x16": "https://clickup-core-team.atlassian.net/secure/projectavatar?size=xsmall&pid=10004",
                "24x24": "https://clickup-core-team.atlassian.net/secure/projectavatar?size=small&pid=10004",
                "32x32": "https://clickup-core-team.atlassian.net/secure/projectavatar?size=medium&pid=10004",
                "48x48": "https://clickup-core-team.atlassian.net/secure/projectavatar?size=large&pid=10004"
              },
              "id": "10004",
              "key": "LAC",
              "name": "Legacy Application Components",
              "projectTypeKey": "software",
              "lead": {
                "accountId": "5e9360a3088a7e0c0f4c55f3"
              },
              "self": "https://clickup-core-team.atlassian.net/rest/api/3/project/LAC",
              "simplified": false,
              "style": "classic"
            },
            {
              "avatarUrls": {
                "16x16": "https://clickup-core-team.atlassian.net/secure/projectavatar?size=xsmall&pid=10005",
                "24x24": "https://clickup-core-team.atlassian.net/secure/projectavatar?size=small&pid=10005",
                "32x32": "https://clickup-core-team.atlassian.net/secure/projectavatar?size=medium&pid=10005",
                "48x48": "https://clickup-core-team.atlassian.net/secure/projectavatar?size=large&pid=10005"
              },
              "id": "10005",
              "key": "WEB",
              "name": "Website Redesign",
              "projectTypeKey": "software",
              "self": "https://clickup-core-team.atlassian.net/rest/api/3/project/WEB",
              "simplified": false,
              "style": "classic"
            }
          ]
        }
  recorded_at: Thu, 20 Mar 2025 00:00:00 GMT
recorded_with: VCR 6.0.0
