name: CI

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.4.7
          bundler-cache: true

      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rails: ["~> 8.0.0", "~> 8.1.0"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.4.7
          bundler-cache: true
        env:
          RAILS_VERSION: ${{ matrix.rails }}

      - name: Run tests
        env:
          RAILS_ENV: test
          RAILS_VERSION: ${{ matrix.rails }}
        run: bin/test
